.dashContainer{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    background:rgb(196, 217, 224);
    padding: 5px 10px;
}


.dashCardContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 5px;
    width : 250px;
    
}
